{% extends "main/base.html" %}
{% load staticfiles %}
{% block content %}

<div class="ui vertical stripe segment">
    <div class="ui middle aligned stackable grid container">
        <div class="row">
        <a href="{% url 'dashboard' %}"><button class="ui button large primary"><i class="icon arrow left"></i>Voltar</button></a>
            <div class="center aligned sixteen wide column">
                <h1>Lista de presença</h1>
                <h2>{{ event.name }}</h2>
                <h4>{{ event.description | linebreaksbr }}</h4>
                <h4>{{ event.datetime }}</h4>
                <a href="{% url 'download-presence' event_id=event.id %}" class="ui button green"><i class="icon download"></i>Imprimir/Baixar lista</a>
                <div class="ui divider"></div>
                <small>Obs: Os alunos que ainda não entregaram a autorização aparecem em cinza e não devem ter suas presenças contabilizadas.<br>
                Para atualizar a documentação de um aluno, <a href="{% url 'student_update_auth' %}">clique aqui</a>.</small>
            </div>

        </div>
        <div class="row center aligned">

            <div class="ui divider"></div>
        </div>
    </div>
    <div class="ui one column stackable center aligned page grid">
        <div class="ui ten wide column">
        {% include "teachers/forms/presence_list.html" %}
        </div>
    </div>
</div>

{% endblock %}
