{% extends "main/base.html" %}
{% load staticfiles %}
{% block content %}

<div class="ui vertical stripe segment">
    <div class="ui middle aligned stackable grid container">
        <div class="row">
        <a href="{% url 'dashboard' %}"><button class="ui button large primary"><i class="icon arrow left"></i>Voltar</button></a>
            <div class="center aligned twelve wide column">
                <h1>Olá, {{ user.teacher.nickname }}!</h1>
            </div>
        </div>
        <div class="row">
            <div class="ui divider"></div>
        </div>
    </div>
    <div class="ui one column stackable center aligned page grid">

        {% include "teachers/forms/teacher_info.html" %}
    </div>
</div>

{% endblock %}
