{% load widget_tweaks %}

<form action="{% url 'presence-list' event_id=event.id %}" method="post" class="ui form">
    {% csrf_token %}
    {{ formset.management_form }}
    <table class="ui celled table">
        <thead>
            <tr><th>Presença</th>
                <th>Nome</th>
                <th>Série</th>
                <th>Escola</th>
            </tr></thead>
            <tbody>
                {% for form in formset.forms %}
                <tr {% if not form.is_authorized.value %}class="disabled"{% endif %}>

                    {% for field in form.visible_fields %}

                    {% if field.label != 'Presença' and field.label != 'is_authorized' %}
                    <td>
                        {{ field.value }}
                        {{ field|attr:"type:hidden" }}
                    </td>
                    {% elif field.label == 'Presença' %}
                    <td width="10%">
                        {{ field }}
                    </td>
                    {% endif %}

                    {% endfor %}
                    {% for hidden in form.hidden_fields %}
                    {{ hidden }}
                    {% endfor %}

                </tr>
                {% endfor %}
            </tbody>
        </table>
        <button class="ui button primary" type="submit">Salvar alterações</button>
    </form>
