{% load widget_tweaks %}
<form action="{% url 'teacher-info' %}" method="post" class="ui form">
    {% csrf_token %}
    <h4 class="ui dividing header">Informações básicas</h4>
    <div class="two fields">
        <div class="field {% if form.nickname.errors.as_text %}error{% endif %}">
            <label>{{ form.nickname.label}}</label>
            <span style="color: red" class="small">{{ form.nickname.errors.as_text }}</span>
            {{ form.nickname }}
        </div>
        <div class="field {% if form.phone.errors.as_text %}error{% endif %}">
            <label>{{ form.phone.label}}</label>
            <span style="color: red" class="small">{{ form.phone.errors.as_text }}</span>
            {{ form.phone }}
        </div>
    </div>
    <div class="field {% if form.cities.errors.as_text %}error{% endif %}">
        <label>{{ form.cities.label}}</label>
        <span style="color: red" class="small">{{ form.cities.errors.as_text }}</span>
        {% for option in form.cities %}
        <div class="field">
            <div class="ui checkbox">
                {{ option.tag }}
                <label>{{ option.choice_label }}</label>
            </div>
        </div>
        {% endfor %}
    </div>
    <br>
    <h4 class="ui dividing header">Alterar email</h4>
    <div class="field {% if form.mail.errors.as_text %}error{% endif %}">
        <label>{{ form.mail.label}}</label>
        <span style="color: red" class="small">{{ form.mail.errors.as_text }}</span>
        {{ form.mail }}
    </div>
    <br>
    <h4 class="ui dividing header">Alterar senha</h4>
    <div class="three fields">
        <div class="field {% if form.password.errors.as_text %}error{% endif %}">
            <label>{{ form.password.label}}</label>
            <span style="color: red" class="small">{{ form.password.errors.as_text }}</span>
            {{ form.password }}
        </div>
        <div class="field {% if form.password1.errors.as_text %}error{% endif %}">
            <label>{{ form.password1.label}}</label>
            <span style="color: red" class="small">{{ form.password1.errors.as_text }}</span>
            {{ form.password1 }}
        </div>
        <div class="field {% if form.password2.errors.as_text %}error{% endif %}">
            <label>{{ form.password2.label}}</label>
            <span style="color: red" class="small">{{ form.password2.errors.as_text }}</span>
            {{ form.password2 }}
        </div>
    </div>
    <br>
    <h4 class="ui dividing header">Inscrições</h4>
    <div class="field {% if form.mail.errors.as_text %}error{% endif %}">
        <!-- <span style="color: red" class="small">{{ form.is_subscribed.errors.as_text }}</span> -->
        <div class="ui checkbox">
            {{ form.is_subscribed }}
            <label>{{ form.is_subscribed.label}}</label>
        </div>
    </div>
    {% for hidden in form.hidden_fields %}
    {{ hidden }}
    {% endfor %}
    <br>
    <button class="ui button primary" type="submit">Salvar alterações</button>
</form>
