{% extends "main/base.html" %}
{% load staticfiles %}
{% block content %}
<div class="ui vertical stripe ">
    <div class="ui middle aligned stackable grid container">
        <div class="row">
            <div class="sixteen wide column center aligned">
                <h1>
                    {{ course.name }}
                </h1>
            </div>
        </div>
    </div>
</div>

<div class="ui vertical stripe segment">
    <div class="ui middle aligned stackable grid container">
        <div class="row">
            <div class="six wide left floated column">
                <h3>
                    Descrição
                </h3>
                <p>
                    {{ course.description | linebreaksbr }}
                </p>
            </div>
            <div class="eight wide column center aligned">
                <div class="ui huge statistic">
                    <div class="value">
                        {{ course.students.all | length }} <i class="icon child"></i>
                    </div>
                    <div class="label">
                        Alunos matriculados
                    </div>
                </div>
                <br>
                <div class="ui huge statistic">
                    <div class="value">
                        {{ course.teachers.all | length }} <i class="icon student"></i>
                    </div>
                    <div class="label">
                        Professores
                    </div>
                </div>
                <br>
                <div class="ui huge statistic">
                    <div class="value">
                        {{ course.events.all | length }} <i class="icon clock"></i>
                    </div>
                    <div class="label">
                        Eventos até hoje
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="ui vertical stripe segment">
    <div class="ui middle aligned stackable grid container">
        <div class="row">
            <div class="sixteen wide center aligned column">
                <h3>
                    Próximos eventos
                </h3>
                {% for event in course.events.all %}
                {% if event.is_near_future %}
                <p>
                    <a href="{% url 'event-view' event_id=event.id %}"><button class="ui green button">{{ event.name }}</button></a>
                </p>
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
