{% extends "main/base.html" %}
{% load staticfiles %}
{% block content %}
<div class="ui vertical stripe ">
    <div class="ui middle aligned stackable grid container">
        <div class="row">
            <div class="sixteen wide column center aligned">
                <h1>
                    {{ event.name }}
                </h1>
                <p>
                    <a href="{% url 'course-view' course_slug=event.course.slug %}">{{ event.course.name }}</a>
                </p>
                <p>
                    {{ event.datetime }}
                </p>
                <p>
                    Professor(a): {{ event.teacher.nickname }}
                </p>
            </div>
        </div>
    </div>
</div>

<div class="ui vertical stripe">
    <div class="ui middle aligned stackable grid container">
        <div class="row">
            <div class="six wide left floated column">
                <h3>
                    Descrição
                </h3>
                <p>
                    {{ event.description | linebreaksbr }}
                </p>
            </div>
            <div class="eight wide column center aligned">

                {% if event.file %}
                <div class="sixteen wide center aligned column">
                    <br>
                    <br>
                    <a href="{{ event.file }}"><button class="ui button blue"><i class="icon download"></i>Download da apostila</button></a>

                    {% else %}
                    <p>Sem apostila!</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
