{% extends "main/base.html" %}
{% load staticfiles %}
{% block content %}

<div class="ui vertical stripe">
    <div class="ui middle aligned stackable grid container">
        <div class="row">
            <div class="center aligned sixteen wide column">
                <h1>Erro 500!</h1>
                <h4>Algo bem errado aconteceu!</h4>
                <p>Já notifiquei as pessoas responsáveis e esse erro deve ser corrigido em breve :)</p>
            </div>
        </div>
    </div>
</div>

{% endblock %}
