
{% extends "main/base.html" %}
{% load staticfiles %}

{% block content %}
<div class="ui vertical stripe segment">
    <div class="ui middle aligned stackable grid container">
        <div class="row">
            <div class="sixteen wide center aligned column">
                <h3 class="ui header">Inscreva-se para o ALES!</h3>
                <p>É de graça! Basta preencher o formulário abaixo.</p>
            </div>
        </div>
    </div>
</div>
<div class="ui vertical stripe segment">
    <div class="ui middle aligned stackable grid container">
        <div class="row">
            <div class="sixteen wide center aligned column">
                <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSea2pj9rj_R-mACCRd8Z2t-Ofhw3Q6pUTop86tzqxwzq4-ZOQ/viewform?embedded=true" width="760" height="1710" frameborder="0" marginheight="0" marginwidth="0">Carregando…</iframe>
            </div>
        </div>
    </div>
</div>
{% endblock %}
