
{% extends "main/base.html" %}
{% load staticfiles %}

{% block content %}
<div class="ui vertical stripe segment">
    <div class="ui middle aligned stackable grid container">
        <div class="row">
            <div class="sixteen wide center aligned column">
                <h3 class="ui header">Como o ALES funciona?</h3>
                <p>É de graça! Basta preencher o formulário abaixo.</p>
            </div>
        </div>
    </div>
</div>
<div class="ui vertical stripe segment">
    <div class="ui middle aligned stackable grid container">
        <div class="row">
            <div class="sixteen wide center aligned column">
            ggdfgd
            </div>
        </div>
    </div>
</div>
{% endblock %}
