
{% extends "main/base.html" %}
{% load staticfiles %}

{% block content %}
<div class="ui vertical stripe">
    <div class="ui middle aligned stackable grid container">
        <div class="row">
            <div class="sixteen wide center aligned column">
                <h3 class="ui header">Inscrições abertas!</h3>
                <p>Até o dia 26/08!</p>
            </div>
        </div>
        <div class="ui divider"></div>
        <div class="row">
            <div class="sixteen wide column">
            <p>Participar do ALES é <b>gratuito</b> e exclusivo para alunos da <b>rede pública</b> de ensino! Focamos em alunos do 6º ano do ensino fundamental até o 3º ano do ensino médio.</p>
            <p>Para se inscrever, basta comparecer à <a href="/#map" target="_blank">EE Barão Geraldo de Rezende</a> aos sábados(ou aos domingos no <a href="/#map" target="_blank">bloco 3 do Instituto de Computação da Unicamp</a>), até o dia 26/08, levando um documento de identificação. Menores de 18 anos deverão estar acompanhados de algum responsável para a inscrição.</p>
            <p>Após se inscrever pessoalmente no projeto, você receberá um login e senha para acessar a área dos alunos desse site. Lá você poderá se matricular nas disciplinas que tiver interesse!</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
