{% extends "main/base.html" %}
{% load staticfiles %}

{% block extend_style %}
<style>
    .google-maps {
        position: relative;
        padding-bottom: 30%; // This is the aspect ratio
        height: 0;
        overflow: hidden;
    }
    .google-maps iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100% !important;
        height: 100% !important;
    }
</style>
{% endblock %}

{% block masthead %}
<!-- Masthead -->
<div class="ui vertical inverted masthead center aligned segment">
    <div class="ui text container">
        <h1 class="ui inverted header">
            Projeto Além da Escola
        </h1>
        <h2>Aulas extracurriculares, de graça</h2>
        <a href="{% url 'enroll' %}"><div class="ui huge primary button">Nossas Matérias!<i class="right arrow icon"></i></div></a>
    </div>
</div>
{% endblock %}
{% block content %}
<div id='project' class="ui vertical stripe segment">
    <div class="ui container">
        <div class="row centered" style="max-width: 560px; max-height: 420px; margin: auto;">
            <div style="margin: auto;" id="video" class="ui embed"></div>
        </div>
    </div>
    <div class="ui grid stackable container">
        <div class="row centered">
            <div class="ui divider"></div>
            <h3 class="ui header">O que é esse projeto?</h3>
        </div>
        <div class="row">
            <div class="eight wide column">
                <p>
                    Acreditamos que a curiosidade e a vontade de aprender são essenciais na vida dos jovens, mas muitas vezes estes são suprimidos pela falta de acesso às informações corretas ou são desestimulados pelo sistema de ensino arcaico que ainda mantemos em nosso país.<br>Reconhecemos que a culpa disso não é das escolas. Muitas vezes faltam, em especial nas públicas, as ferramentas e oportunidades para abordar temas extra-curriculares, por mais importantes que eles sejam.
                </p>
                <p>
                    Desta percepção nasceu o ALES, um projeto que tem como
                    objetivo trazer complementos acadêmicos e intelectuais, fora das escolas, de forma gratuita aos alunos da comunidade de Barão Geraldo, Campinas.
                </p>
            </div>
            <div class="eight wide column">
                <p>
                    Os alunos que tiverem interesse em participar do projeto terão a oportunidade de crescer, se conhecer e aprender através do contato com conteúdos que dificilmente teriam acesso apenas através da rede pública de ensino.
                </p>
                <p>
                    Nosso projeto, portanto, não é um substituto da escola. É uma ferramenta para expandir horizontes e inspirar alunos a fazerem algo novo.
                </p>
                <p>
                    É a nossa vontade de mostrar para os alunos que conhecimento é muito mais do que as coisas que aprendem na escola e que eles também podem aprender, alcançar e criar coisas que antes eles pensavam, ou eram ditos, serem distantes demais de sua realidade.
                </p>
            </div>
        </div>

        <div class="ui divider"></div>
        <div class="row centered">
            <h3 class="ui header">O que vocês oferecem?</h3>
        </div>
        <div class="row centered">
            <p>Oferecemos um vasto leque de aulas, palestras e oportunidades como:</p>
        </div>
        <div class="row">
            <div class="ten wide column">
                <p>Aulas regulares lecionadas por alunos e professores da Unicamp:</p>
                <div class="ui list big bulleted">
                    <div class="ui item"><strong>Dança Contemporânea</strong></div>
                    <div class="ui item"><strong>Teatro</strong></div>
                    <div class="ui item"><strong>Chinês(Mandarim)</strong></div>
                    <div class="ui item"><strong>História do Cinema</strong></div>
                    <div class="ui item"><strong>Astronomia</strong> para Olimpíada Brasileria de Astronomia</div>
                    <div class="ui item"><strong>Programação</strong> para desenvolvimento de Jogos, Sites, Aplicativos de Celular e para a Olimpíada Brasileira de Informática</div>
                    <div class="ui item"><strong>Matemática</strong> para Olimpíada Brasileira de Matemática das Escolas Públicas</div>
                    <div class="ui item"><strong>Física</strong> para Olimpíada Brasileira de Física das Escolas Públicas</div>
                    <div class="ui item"><strong>Química</strong> para Olimpíada Brasileira de Química Jr</div>
                </div>
            </div>
            <div class="six wide column">
                <p>
                    Palestras e eventos ocasionais:
                </p>
                <div class="ui list big bulleted">
                    <div class="ui item">Palestras de <strong>Professores da Unicamp</strong></div>
                    <div class="ui item">Palestras de <strong>Pesquisadores e Alunos</strong></div>
                    <div class="ui item">Visitas a <strong>Laboratórios da Unicamp</strong></div>
                    <div class="ui item">Visitas a <strong>Centros de Pesquisa</strong></div>
                    <div class="ui item">Participação em <strong>Eventos Universitários</strong></div>
                    <div class="ui item">Monitoria de assuntos da <strong>Escola</strong> e do <strong>Vestibular</strong></div>
                </div>
            </div>
        </div>
        <div class="row centered">
            <p>E muito mais!</p>
        </div>
    </div>
</div>

<div class="ui vertical stripe segment">
    <div class="ui equal width stackable grid">
        <div class="center aligned row">
            <div class="center aligned column">
                <h1>
                    Nós não somos os primeiros a fazer isso!
                </h1>
                <p>Temos muita experiência com projetos assim! Esses são alguns dos que já fizemos parte:</p>
            </div>
        </div>
        <div class="center aligned row">
            <div class="column">
                <h3><a href="http://www.projetovoa.org/" target="_blank">Projeto VOA!</a></h3>
                <p style="font-style: italic;">Projeto com mais de 5 anos de sucesso, que atende alunos da rede pública de São Paulo</p>
            </div>
            <div class="column">
                <h3><a href="https://apole.com.br/" target="_blank">Projeto APOLE</a></h3>
                <p style="font-style: italic;">3 anos influenciando a vida de muitos alunos de Vinhedo com sucesso em olimpíadas culturais</p>
            </div>
        </div>
    </div>
</div>

<div id="map" class="ui vertical inverted black stripe segment">
    <div class="ui centered grid stackable container">
        <div class="ui column aligned center">
            <h1>Como chegar</h1>
            <h2>Aulas gerais</h2>
            <small style="color: grey">E.E. Barão Geraldo de Rezende<br> Rua Jerônimo Páttaro, S/N - Barão Geraldo, Campinas - SP, 13084-110</small><br><br>
            <div class="google-maps">
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d14709.608598813034!2d-47.0816956!3d-22.8246065!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x5bd30fe91c0b65f9!2sEscola+Estadual+Bar%C3%A3o+Geraldo+de+Rezende!5e0!3m2!1sen!2sbr!4v1487953715362" width="600" height="200" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
            <h2>Aulas de programação</h2>
            <small style="color: grey">Instituto de Computação 3, Sala 302<br> Av. Albert Einstein, 1355 - Cidade Universitária, Campinas - SP, 13083-852</small><br><br>
            <div class="google-maps">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d540.2809218450735!2d-47.064717992282326!3d-22.814218426372992!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94c8c153471b7987%3A0x342a6c83f6e63b7f!2sAv.+Albert+Einstein%2C+1355+-+Cidade+Universit%C3%A1ria%2C+Campinas+-+SP%2C+13083-852!5e0!3m2!1sen!2sbr!4v1489946851591" width="600" height="200" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</div>

<!-- <div id="stats" class="ui vertical inverted blue stripe segment">
    <div class="ui three column centered grid stackable container">
        <div class="ui column aligned center">
            <h3>
                Much alunos
            </h3>
            <p>
                wow
            </p>
        </div>
        <div class="ui column aligned center">
            <div class="ui inverted huge statistic">
                <div class="value">
                    {{ students | length }}
                </div>
                <div class="label">
                    <i class="icon child"></i>Alunos
                </div>
            </div>
            <div class="ui inverted huge statistic">
                <div class="value">
                    {{ courses | length }}<br>
                </div>
                <div class="label">
                    <i class="icon book"></i> Matérias
                </div>
            </div>
            <div class="ui inverted huge statistic">
                <div class="value">
                    {{ teachers | length }}
                </div>
                <div class="label">
                    <i class="icon student"></i>Voluntários
                </div>
            </div>
        </div>
        <div class="ui column aligned center">
            <h3>
                Many voluntários
            </h3>
            <p>
                more txt
            </p>
        </div>
    </div>
</div> -->

<div id='contact' class="ui vertical inverted black stripe segment">
    <div class="ui text container center aligned">
        <h3 class="ui inverted header">Contato</h3><p style="font-size: smaller; color: grey">projetoales.contato@gmail.com</p>
    </div>
    <br>
    <div class="ui text container">
        <form action="{% url 'contact' %}" method="post">
            {% csrf_token %}
            <div class="ui equal width form">
                <div class="fields">
                    {% for field in contactform %}
                    {% if field.name != 'text' %}
                    <div class="field">
                        <label style="color: white">{{ field.label }}</label>
                        {{ field }}
                    </div>
                    {% else %}
                </div>
            </div>
            <div class="ui form">
                <div class="field">
                    <label style="color: white">{{ field.label }}</label>
                    {{ field }}
                </div>
            </div>
            {% endif %}
            {% endfor %}


            <div style="text-align: center;">
                <br>
                <button class="ui big button blue" type="submit">Enviar</button>
            </div>
        </form>
    </div>
</div>
</div>
</div>
<script type="text/javascript">
    $('#video').embed({
        source      : 'youtube',
        id          : 'K6yyK8wRsto',
        placeholder : 'https://i.imgur.com/czzv3wm.png',
        parameters  : {
            'rel': 0,
            'controls': 0,
            'showinfo': 0
        }
    });
</script>
{% endblock %}
