
{% extends "main/base.html" %}
{% load staticfiles %}
{% block masthead %}
<!-- Masthead -->
<div class="ui vertical inverted masthead center aligned segment">
    <div class="ui text container">
        <h1 class="ui inverted header">
            Indo Além da Escola
        </h1>
        <h2>Explore um bom subtítulo</h2>
        <a href="{% url 'enroll' %}"><div class="ui huge primary button">Inscreva-se<i class="right arrow icon"></i></div></a>
    </div>
</div>
{% endblock %}
{% block content %}
<div class="ui vertical stripe segment">
    <div class="ui middle aligned stackable grid container">
        <div class="row">
            <div class="eight wide column">
                <h3 class="ui header">Título aqui</h3>
                <p>Nós fazemos varias coisas e tal, bem bacana.</p>
                <h3 class="ui header">We Make Bananas That Can Dance</h3>
                <p>Yes that's right, you thought it was the stuff of dreams, but even bananas can be bioengineered.</p>
            </div>
            <div class="six wide right floated column">
                <div class="ui statistics">
                    <div class="statistic">
                        <div class="value">
                          22
                      </div>
                      <div class="label">
                          Cidades
                      </div>
                  </div>
                  <div class="statistic">
                    <div class="text value">
                        15<br>
                        Matérias
                    </div>
                </div>
                <div class="statistic">
                    <div class="value">
                        500
                    </div>
                    <div class="label">
                        <i class="child icon"></i>Alunos
                    </div>
                </div>
                <div class="statistic">
                    <div class="value">
                        <img src="/images/avatar/small/joe.jpg" class="ui circular inline image">
                        111
                    </div>
                    <div class="label">
                        Professores
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="aligned column">
            <h1>Mais texto aqui</h1>
            <p>
                e tal
            </p>
        </div>
    </div>
</div>
</div>

<div class="ui vertical inverted blue stripe segment">
    <div class="ui middle aligned stackable grid container">
        <div class="row">
            <div class="aligned column">
                {% if user.is_authenticated %}
                <h2> Você é um
                    {% if user.is_superuser %}
                    superuser
                    {% endif %}
                    {% if user.is_teacher %}
                    teacher
                    {% endif %}
                    {% if user.is_student %}
                    student
                    {% endif %}
                </h2>
                {% endif %}
            </div>
        </div>
    </div>
</div>

<div class="ui vertical stripe quote segment">
    <div class="ui equal width stackable internally celled grid">
        <div class="center aligned row">
            <div class="column">
                <h3>"What a Company"</h3>
                <p>That is what they all say about us</p>
            </div>
            <div class="column">
                <h3>"I shouldn't have gone with their competitor."</h3>
                <p>
                    <img src="assets/images/avatar/nan.jpg" class="ui avatar image"> <b>Nan</b> Chief Fun Officer Acme Toys
                </p>
            </div>
        </div>
    </div>
</div>

<div id='contact' class="ui vertical inverted black stripe segment">
    <div class="ui text container center aligned">
        <h3 class="ui inverted header">Contato</h3><p style="font-size: smaller; color: grey">projetoales.contato@gmail.com</p>
    </div>
    <br>
    <div class="ui text container">
            <form action="{% url 'contact' %}" method="post">
                {% csrf_token %}
                <div class="ui equal width form">
                <div class="fields">
                {% for field in contactform %}
                {% if field.name != 'text' %}
                <div class="field">
                <label style="color: white">{{ field.label }}</label>
                {{ field }}
                </div>
                {% else %}
                </div>
                </div>
                <div class="ui form">
                <div class="field">
                <label style="color: white">{{ field.label }}</label>
                {{ field }}
                </div>
                </div>
                {% endif %}
                {% endfor %}


                <div style="text-align: center;">
                <br>
                <button class="ui big button green" type="submit">Enviar</button>
                </div>
            </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
