{% extends "main/base.html" %}
{% load staticfiles %}
{% block masthead %}
<!-- Masthead -->
<div class="ui vertical inverted masthead center aligned segment">
    <div class="ui text container">
        <h1 class="ui inverted header">
            Indo Além da Escola
        </h1>
        <h2>Explore um bom subtítulo</h2>
        <a href="{% url 'enroll' %}"><div class="ui huge primary button">Inscreva-se<i class="right arrow icon"></i></div></a>
    </div>
</div>
{% endblock %}
{% block content %}
<div id='project' class="ui vertical stripe segment">
    <div class="ui middle aligned stackable grid container">
        <div class="row">
            <div class="eight wide column">
                <h3 class="ui header">Título aqui</h3>
                <p>Nós fazemos varias coisas e tal, bem bacana.</p>
                <h3 class="ui header">Damos aula e pá</h3>
                <p>yep, very fun</p>
            </div>
            <div class="six wide right floated column">
                <h2>
                    Maybe a video here or something
                </h2>
            </div>
        </div>
    </div>
</div>

<div id="stats" class="ui vertical inverted blue stripe segment">
    <div class="ui three column centered grid stackable container">
        <div class="ui column aligned center">
            <h3>
                Much alunos
            </h3>
            <p>
                wow
            </p>
        </div>
        <div class="ui column aligned center">
            <div class="ui inverted huge statistic">
                <div class="value">
                    {{ students | length }}
                </div>
                <div class="label">
                    <i class="icon child"></i>Alunos
                </div>
            </div>
            <div class="ui inverted huge statistic">
                <div class="value">
                    {{ courses | length }}<br>
                </div>
                <div class="label">
                    <i class="icon book"></i> Matérias
                </div>
            </div>
            <div class="ui inverted huge statistic">
                <div class="value">
                    {{ teachers | length }}
                </div>
                <div class="label">
                    <i class="icon student"></i>Voluntários
                </div>
            </div>
        </div>
        <div class="ui column aligned center">
            <h3>
                Many voluntários
            </h3>
            <p>
                more txt
            </p>
        </div>
    </div>
</div>

<div class="ui vertical stripe quote segment">
    <div class="ui equal width stackable grid">
        <div class="center aligned row">
            <div class="center aligned column">
                <h1>
                    Don't take our word for it
                </h1>
            </div>
        </div>
        <div class="center aligned row">
            <div class="column">
                <h3>"What a Project"</h3>
                <p style="font-style: italic;">That is what they all say about us</p>
            </div>
            <div class="column">
                <h3>"Changed my life"</h3>
                <p style="font-style: italic;">
                    Bill Gates
                </p>
            </div>
        </div>
    </div>
</div>

<div id='contact' class="ui vertical inverted black stripe segment">
    <div class="ui text container center aligned">
        <h3 class="ui inverted header">Contato</h3><p style="font-size: smaller; color: grey">projetoales.contato@gmail.com</p>
    </div>
    <br>
    <div class="ui text container">
        <form action="{% url 'contact' %}" method="post">
            {% csrf_token %}
            <div class="ui equal width form">
                <div class="fields">
                    {% for field in contactform %}
                    {% if field.name != 'text' %}
                    <div class="field">
                        <label style="color: white">{{ field.label }}</label>
                        {{ field }}
                    </div>
                    {% else %}
                </div>
            </div>
            <div class="ui form">
                <div class="field">
                    <label style="color: white">{{ field.label }}</label>
                    {{ field }}
                </div>
            </div>
            {% endif %}
            {% endfor %}


            <div style="text-align: center;">
                <br>
                <button class="ui big button green" type="submit">Enviar</button>
            </div>
        </form>
    </div>
</div>
</div>
</div>
{% endblock %}
