{% extends "main/base.html" %}
{% load staticfiles %}
{% block content %}

<div class="ui vertical stripe segment">
    <div class="ui middle aligned stackable grid container">
        <div class="row">
            <div class="center aligned sixteen wide column">
                <h1>Digite a nova senha</h1>
                <p>Por favor, informe sua nova senha duas vezes para que possamos verificar se você a digitou corretamente.</p>
            </div>
        </div>
        <div class="row">
            <div class="ui divider"></div>
        </div>
    </div>
    <div class="ui one column stackable center aligned page grid">

        <form method="post" class="ui form">
            {% csrf_token %}
            <div class="fields">
                {% for field in form.visible_fields %}
                <div class="field">
                    <label>{{ field.label }}<span class="small red">{{ field.errors.as_text }}</span></label>
                    {{ field }}
                </div>
                {% endfor %}
                {% for hidden in form.hidden_fields %}
                {{ hidden }}
                {% endfor %}
            </div>
            <br>
            <button class="ui button primary" type="submit">Alterar minha senha.</button>
        </form>
    </div>
</div>

{% endblock %}
