{% extends "main/base.html" %}
{% load staticfiles %}
{% block content %}

<div class="ui vertical stripe segment">
    <div class="ui middle aligned stackable grid container">
        <div class="row">
            <div class="center aligned sixteen wide column">
                <h1>Redefinição de senha completa</h1>
                <p>Sua senha foi definida. Você pode prosseguir e se autenticar agora.</p>
                <a href="{% url 'login' %}">Acessar</a>
            </div>
        </div>
        <div class="row">
            <div class="ui divider"></div>
        </div>
    </div>
</div>

{% endblock %}
