{% extends "main/base.html" %}
{% load staticfiles %}
{% block content %}

<div class="ui vertical stripe segment">
    <div class="ui middle aligned stackable grid container">
        <div class="row">
            <div class="center aligned sixteen wide column">
                <h1>Redefinição de senha enviada</h1>
                <p style="text-align: left;">Nós te enviamos por e-mail as instruções para redefinição de sua senha, se existir uma conta com o e-mail que você forneceu. Você receberá a mensagem em breve.</p>
                <p style="text-align: left;">Se você não receber um e-mail, por favor verifique se você digitou o endereço que você usou para se registrar, e verificar a sua pasta de spam.</p>
            </div>
        </div>
        <div class="row">
            <div class="ui divider"></div>
        </div>
    </div>
</div>

{% endblock %}
