{% extends "main/base.html" %}
{% load staticfiles %}
{% block content %}

<div class="ui vertical basic stripe segment">
    <div class="ui middle aligned stackable grid container">
        <div class="row">
            <div class="center aligned sixteen wide column">
                <h1>Atualizar documentos dos alunos</h1>
                <p>Pesquise alunos abaixo e marque aqueles que já trouxeram a autorização e digite seu RG</p>
            </div>
        </div>
        <div class="row">
            <div class="ui divider"></div>
        </div>
    </div>
    <div class="ui one column stackable center aligned page grid">
        <div class="row">
            <div class="ui input">
                <input placeholder="Aluno da Silva..." type="text" name="query" id="query">
            </div>
            <button id="query-submit" type="submit" onclick="search();" class="ui button green"><i class="icon search"></i> Pesquisar</button>
        </div>


        <div class="row">
            <div class="column twelve wide">
                <table class="ui striped table">
                    <thead>
                        <tr>
                            <th>Autorização</th>
                            <th width="16%">RG</th>
                            <th>Nome</th>
                            <th>Série</th>
                            <th>Escola</th>
                        </tr>
                    </thead>
                    <tbody id="students">
                    </tbody>
                </table>
            </div>
            </div>
            <div class="row">
            <div class="ui center aligned" id="errors"></div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $("#query").keyup(function(event){
        if(event.keyCode == 13){
            $("#query-submit").click();
        }
    });

    function search() {
        text = $('#query').val();
        $("#query-submit").prop('disabled', true);
        $.ajax({
            url: '{% url "student_search" %}',
            type: 'post',
            data: {
                text: text,
                csrfmiddlewaretoken: '{{ csrf_token }}'
            },
            success: function(data) {
                $('#students').empty();
                $('#errors').empty();
                if (data['students'][0]) {
                    for (i in data['students']) {
                        if (data['students'][i]['status']) {
                            $("<tr>\
                                <td class='collapsing'>\
                                    <div class='ui fitted slider checkbox'><input onclick='changed($(this));' id='" + data['students'][i]['id'] + "_auth' checked type='checkbox'> <label></label>\
                                    </td>\
                                    <td>\
                                        <div class='ui fluid input'>\
                                        <input type='text' placeholder='RG dx alunx' class='' onchange='change_rg($(this));' id='" + data['students'][i]['id'] + "_rg' value='" + data['students'][i]['rg'] +"' name='rg'>\
                                       </div>\
                                    <td>\
                                        " + data['students'][i]['name'] + "\
                                    </td>\
                                    <td>\
                                        " + data['students'][i]['year'] + "\
                                    </td>\
                                    <td>\
                                        " + data['students'][i]['school'] + "\
                                    </td>\
                                </tr>").appendTo('#students');
                        }
                        else {
                            $("<tr>\
                                <td class='collapsing'>\
                                    <div class='ui fitted slider checkbox'><input onclick='changed($(this));' id='" + data['students'][i]['id'] + "_auth' type='checkbox'> <label></label>\
                                    </td>\
                                    <td>\
                                        <div class='ui fluid input'>\
                                        <input type='text' placeholder='RG dx alunx' class='' onchange='change_rg($(this));' id='" + data['students'][i]['id'] + "_rg' value='" + data['students'][i]['rg'] +"' name='rg'>\
                                       </div>\
                                    </td>\
                                    <td>\
                                        " + data['students'][i]['name'] + "\
                                    </td>\
                                    <td>\
                                        " + data['students'][i]['year'] + "\
                                    </td>\
                                    <td>\
                                        " + data['students'][i]['school'] + "\
                                    </td>\
                                </tr>").appendTo('#students');
                        }
                    }
                }
                else {
                    $("<p style='text-align: center;'>Sem resultados</p>").appendTo("#errors");
                }
                $("#query-submit").prop('disabled', false);

            }
        });
    }

    function changed(self) {
        var id = self.attr('id').split('_')[0];
        var status = self.is(':checked');

        $.ajax({
            url: '{% url "student_update_submit" %}',
            type: 'post',
            data: {
                id: id,
                status: status,
                csrfmiddlewaretoken: '{{ csrf_token }}'
            },
        });
    }

    function change_rg(self) {
        var id = self.attr('id').split('_')[0];
        var rg = self.val();

        $.ajax({
            url: '{% url "student_update_submit" %}',
            type: 'post',
            data: {
                id: id,
                rg: rg,
                csrfmiddlewaretoken: '{{ csrf_token }}'
            },
        });
    }
</script>
{% endblock %}
